/* Product Section */
.product-section {
  padding: 50px;
  background-color: #f3f4f6;
}

.product-content {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  margin: 0 auto;
  gap: 30px;
}

.product-carousel {
  flex: 1 1 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-details {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.product-title {
  font-family: "ringold-sans", sans-serif;
  font-weight: 400;
  text-decoration: none;
  font-size: 72px;
  margin-bottom: 10px;
  color: #0B1215;
}

.product-artist {
  font-family: "coolvetica", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 24px;
  color: #0B1215;
  margin-bottom: 20px;
}

.release-date {
  font-family: "articulat-cf", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
  color: #0B1215;
  margin-bottom: 20px;
}

.separator {
  border: none;
  border-top: 3px solid #0B1215;
  margin: 20px 0;
}

.price-and-button {
  display: flex;
  align-items: center;
  gap: 20px; /* Add space between the price and button */
}

.product-price {
  font-family: "coolvetica", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 72px;
  color: #0B1215;
  margin: 0; /* Ensure no extra margin on the price */
}

.track-list {
  margin-top: 20px;
}

.track-list h3 {
  font-family: "coolvetica", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 48px;
  margin-bottom: 10px;
  color: #0B1215;
}

.track-list ol {
  font-family: "articulat-cf", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
  padding-left: 20px;
  color: #0B1215;
}

.pressing-info h3 {
  font-family: "coolvetica", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 24px;
  margin-bottom: 10px;
  color: #0B1215;
}

.pressing-info p {
  font-family: "articulat-cf", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 24;
  line-height: 1.5;
  color: #0B1215;
}

.wide-separator {
  width: 100%;
  margin-top: 40px;
}

/* Description Section */
.description-section {
  background-color: #0B1215;
  color: #f3f4f6;
  font-family: "articulat-cf", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 48px;
  padding: 50px;
  text-align: left;
}
