<!-- header.html -->
<header class="header">
    <div class="logo">
      <img src="../images/header-logo.svg" alt="Logo">
    </div>
    <nav class="nav">
      <a href="store.html">STORE</a>
      <a href="artists.html">ARTISTS</a>
      <a href="about.html">ABOUT</a>
      <a href="#" class="cart">CART</a>
    </nav>
    <div class="rainbow-strip">
      <img src="../images/rainbow-strip.svg" alt="Rainbow Strip">
    </div>
    <div class="hamburger-icon">
      <img src="../images/hamburger-icon.svg" alt="Hamburger Menu">
    </div>
</header>