/* Hero Section */
.hero {
  background-color: #000000;
  width: 100%;
  height: 80vh;
  position: relative;
  overflow: hidden;
  transition: height 0.3s ease;
}

.hero-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.hero-text {
  position: absolute;
  top: 50px;
  left: 50px;
}

.hero-title {
  font-family: "ringold-sans", sans-serif;
  font-size: 100px;
  font-weight: 400;
  color: #F3F4F6;
  line-height: 0.95;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transition: font-size 0.3s ease;
}

.hero-detail {
  font-family: "articulat-cf", sans-serif;
  font-size: 30px;
  font-weight: 500;
  font-style: italic;
  color: #F3F4F6;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-top: 20px;
  transition: font-size 0.3s ease;
}

/* Latest Release Section */
.latest-release {
  width: 100%;
  height: 750px;
  background-color: #0B1215;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  align-items: center;
  transition: height 0.3s ease;
}

.side-quests-vol-1-hero {
  flex-shrink: 1;
  width: 950px;
  height: auto;
  margin-left: 5vw;
}

.side-quests-vol-1-hero img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.release-text {
  flex: 1;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-right: 5vw;
  align-self: flex-start;
}

.release-heading {
  margin-top: 20px;
  font-family: "articulat-cf", sans-serif;
  font-weight: 500;
  font-size: 30px;
  font-style: italic;
  color: #F3F4F6;
  transition: font-size 0.3s ease;
}

.release-title {
  margin-top: 30px;
  font-family: "ringold-sans", sans-serif;
  font-size: 90px;
  font-weight: 400;
  color: #F3F4F6;
  white-space: nowrap; /* Disable text wrapping */
  transition: font-size 0.3s ease;
}

.rainbow-underline {
  margin-top: 20px;
  width: 668px;
  height: 5px;
  transition: width 0.3s ease;
  background: linear-gradient(
    to right,
    rgba(243, 244, 246, 0) 0%, /* Transparent start */
    #FF0000 10%,               /* Red */
    #FFB300 25%,               /* Orange */
    #FFFF00 40%,               /* Yellow */
    #00FF00 55%,               /* Green */
    #00FFF7 70%,               /* Cyan */
    #0000FF 85%,               /* Blue */
    #8E00FF 90%,               /* Purple starts */
    #8E00FF 100%               /* Distinct purple end */
  );
}

.release-text p {
  margin-top: 80px;
  font-family: "articulat-cf", sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #F3F4F6;
  max-width: 600px;
  line-height: 1.5;
  transition: font-size 0.3s ease;
}

.pre-order {
  margin-top: 80px;
  background: none;
  border: none;
  cursor: pointer;
}

.pre-order img {
  width: 200px; /* Set specific width for button */
  height: auto; /* Maintain aspect ratio */
  transition: width 0.3s ease;
}


/* Store Section */
.store-section {
  width: 100%;
  background-color: #F3F4F6;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.store-grid {
  display: grid;
  gap: 40px;
  width: 100%;
  max-width: calc(4 * 425px + 3 * 40px);
  grid-template-columns: repeat(auto-fill, minmax(425px, 1fr));
  justify-content: center;
  padding: 30px 0px;
}

.merch-block {
  width: 425px;
  height: 425px;
  display: flex;
  flex-direction: column;
  position: relative;
  border: 4px solid #0B1215;
}

.merch-block-image-container {
  flex: 1;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.merch-link {
  color: #0B1215;
}

.merch-link:hover {
  cursor: pointer;
}

.merch-block-product-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.merch-block-details-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 80px;
  border-top: 4px solid #0B1215;
}

.merch-block-names-container {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
  border-right: 4px solid #0B1215;
}

.merch-block-artist-name {
  font-family: "coolvetica", sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: #0B1215;
  margin-bottom: 8px;
}

.merch-block-product-name {
  font-family: "articulat-cf", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #0B1215;
}

.merch-block-price-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.merch-block-price {
  font-family: "ringold-sans", sans-serif;
  font-weight: 400;
  font-size: 40px;
  color: #0B1215;
  text-align: center;
  margin-top: 9px;
}

/* Laptop Media Query */
@media (max-width: 1280px) {
  .hero {
    height: 80vh;
  }

  .hero-text {
    top: 40px;
    left: 40px;
  }

  .hero-title {
    font-size: 80px;
  }

  .hero-detail {
    font-size: 24px;
    margin-top: 15px;
  }

  .latest-release {
    height: 700px;
  }

  .side-quests-vol-1-hero {
    width: 600px;
    position: absolute;
    margin-top: 200px;
    margin-left: 3vw;
  }

  .release-text {
    padding-right: 3vw;
    z-index: 1;
  }

  .release-heading {
    font-size: 24px;
  }

  .release-title {
    font-size: 70px;
    margin-top: 10px;
  }

  .rainbow-underline {
    margin-top: 10px;
    width: 525px;
    height: 4px;
  }

  .release-text p {
    margin-top: 40px;
    font-size: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    max-width: 450px;
  }

  .pre-order {
    margin-top: 100px;
  }

  .pre-order img {
    width: 150px;
  }
}

/* Mobile Media Query */
@media (max-width: 768px) {
  .hero {
    height: 66vh;
  }

  .hero-text {
    top: 10px;
    left: 8px;
  }

  .hero-title {
    font-size: 40px;
  }

  .hero-detail {
    font-size: 16px;
    margin-top: 5px;
  }

  .latest-release {
    height: auto;
    flex-direction: column;
  }

  .side-quests-vol-1-hero {
    width: 66vw;
    position: relative;
    order: 2;
    margin: 20px 0;
  }

  .release-text {
    align-self: center;
    text-align: center;
    align-items: center;
    order: 1;
    z-index: 0;
  }

  .release-heading {
    font-size: 16px;
    margin-top: 10px;
  }

  .release-title {
    font-size: 40px;
    margin-top: 5px;
  }

  .rainbow-underline {
    width: 300px;
    height: 3px;
    padding: 0;
    margin: 0;
    background: linear-gradient(
    to right,
    #FF0000 0%,
    #FFB300 24%,
    #FFFF00 41%,
    #00FF00 51.5%,
    #00FFF7 63%,
    #0000FF 74%,
    #8E00FF 100%
    );
  }

  .release-text p {
    font-size: 14px;
    max-width: clamp(100px, 66vw, 300px);
    margin-top: 10px;
    line-height: 1;
  }

  .pre-order {
    margin-top: 20px;
  }

  .pre-order img {
    width: 125px;
  }

}