@media (max-width: 768px) {
  .hero {
    height: 66vh;
  }

  .hero-text {
    top: 25px;
    left: 15px;
  }

  .hero-title {
    font-size: 42px;
  }

  .hero-detail {
    font-size: 17px;
    margin-top: 5px;
  }

  .featured-release {
    padding: 30px 20px 0 0px;
    background-size: cover;
    background-position: center top;
    position: relative;
  }

  .featured-release-hero {
    position: absolute;
    left: -120px;
    max-width: 520px;
    pointer-events: none;
  }

  .featured-release-hero img {
    width: 110%;
    height: auto;
    display: block;
  }

  .falling-shapes {
    width: 70%;
  }

  .shape {
    width: 20px;
  }

  .release-text {
    position: relative;
    margin-bottom: 30px;
    gap: 20px;
  }

  .release-heading {
    font-size: 17px;
    line-height: 0.6;
  }

  .release-title {
    font-size: 33px;
  }

  .rainbow-underline {
    width: 250px;
    height: 3px;
  }

  .release-text p {
    font-size: 16px;
    max-width: 40%;

    padding: 6px 10px 7px 9px;
    border-radius: 15px;
  }

  .pre-order-button {
    width: 140px;
    height: 45px;
    border-radius: 30px;
    font-size: 18px;
  }

  .store-section {
    padding: 50px 5vw;
  }

  .store-grid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 5vw;
    padding: 0;
  }

  .merch-block {
    max-width: 200px;
    border: 2px solid #0B1215;
  }

  .merch-block-product-image {
    transform: scale(1.08);
  }

  .merch-block-details-container {
    border-top: 2px solid #0B1215;
  }

  .merch-block:hover .default-image {
    opacity: 1;
  }

  .merch-block:hover .hover-image {
    opacity: 0;
  }

  .merch-block .default-image {
    opacity: 1;
    transition: opacity 0.35s ease-in-out;
  }

  .merch-block .hover-image {
    opacity: 0;
    transition: opacity 0.35s ease-in-out;
  }

  .merch-block.scrolled .default-image {
      opacity: 0;
  }

  .merch-block.scrolled .hover-image {
      opacity: 1;
  }

  .merch-block-names-container {
    padding: 2px 4px 0px 4px;
    border-right: 2px solid #0B1215;
  }
  
  .merch-block-artist-name {
    font-size: clamp(14px, 1.5vw, 15px);
    margin: 0 0 1px 0;
  }
  
  .merch-block-product-name {
    font-size: clamp(8px, 1vw, 10px);
    margin: 0;
  }

  .merch-block-price {
    font-size: clamp(20px, 3vw, 30px);
  }
}