@media (max-width: 1280px) {
  .hero {
    height: 80vh;
  }

  .hero-text {
    top: 40px;
    left: 40px;
  }

  .hero-title {
    font-size: 80px;
  }

  .hero-detail {
    font-size: 24px;
    margin-top: 15px;
  }

  .featured-release {
    padding: 40px 40px 0 40px;
  }

  .featured-release-hero {
    flex: 0 1 1400px;
  }

  .featured-release-hero img {
    max-width: 1500px;
  }

  .falling-shapes {
    width: 90%;
  }

  .shape {
    width: 40px;
  }

  .release-text {
    margin-bottom: 40px;
    gap: 40px;
  }

  .release-heading {
    font-size: 24px;
  }

  .release-title {
    font-size: 70px;
  }

  .rainbow-underline {
    width: 530px;
    height: 4px;
  }

  .release-text p {
    font-size: 20px;
    max-width: 450px;

    padding: 10px 12px 6px 10px;
    border-radius: 20px;
  }

  .pre-order-button {
    width: 200px;
    height: 66px;
    font-size: 26px;
    border-radius: 40px;
  }

  .store-section {
    padding: 60px 12vw;
  }

  .store-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 4vw;
    padding: 0;
  }

  .merch-block {
    border: 3px solid #0B1215;
  }

  .merch-block-details-container {
    border-top: 3px solid #0B1215;
  }

  .merch-block-names-container {
    padding: 6px;
    border-right: 3px solid #0B1215;
  }
  
  .merch-block-artist-name {
    font-size: 18px;
    margin-bottom: 4px;
  }
  
  .merch-block-product-name {
    font-size: 12px;
  }

  .merch-block-price {
    font-size: 30px;
  }
}