.latest-release {
  justify-content: center; /* Center the content */
  overflow: hidden; 
  height: auto; /* Allow it to size naturally */
  flex-direction: column;
  padding: 0; /* Reset padding */
  margin: 0; /* Reset margin */
}

.side-quests-vol-1-hero {
  width: 100%; /* Ensure full width */
  position: relative;
  order: 2;
  padding: 0;
  margin: 0;
}

.release-text {
  flex: 1;
  align-items: center;
  text-align: center;
  order: 1;
  z-index: 0;
  padding: 0;
  margin: 0;
}

.release-heading,
.release-title {
  padding: 0;
  margin: 0;
}

.rainbow-underline {
  width: 100%; /* Adjust to fit dynamically */
  padding: 0;
  margin: 0;
}

.release-text p {
  font-size: 14px;
  max-width: 100%; /* Dynamically fit the width */
  padding: 0;
  margin: 0;
  line-height: 1.2;
}

.pre-order {
  padding: 0;
  margin: 0;
}

.pre-order img {
  width: 100px;
}