/* Ensure the cart container is centered */
.cart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto; /* Ensures it takes up the full height */
    min-height: 2000px;
    width: 100%;
    background-color: #0b1215;
    position: relative;
}
.shopify-buy__cart-toggle {
    z-index: 2000;
    position: fixed;
    top: 0;
    right: 60px;
    font-family: "ringold-sans", sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: #F3F4F6;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    cursor: pointer;
    margin: 0;
    padding: 0;
    gap: 0;
    transition: font-size 0.3s ease, transform 0.3s ease;
    text-align: center;
}

/* Hover effect */
.shopify-buy__cart-toggle:hover {
    transform: scale(1.1);
}

.shopify-buy__cart-toggle__title{
    color: red;
}


.shopify-buy__cart-toggle__count{
    color: red;
}