/* Ensure the cart container is centered */
.cart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto; /* Ensures it takes up the full height */
    min-height: 2000px;
    width: 100%;
    background-color: #0b1215;
    position: relative;
}
.shopify-buy__cart-toggle {
    z-index: 2000;
    position: fixed;
    top: 0;
    right: 60px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin: 0;
    padding: 0;
    gap: 0;
    text-align: center;
    transition: font-size 0.3s ease, transform 0.3s ease;
}

.shopify-buy__cart-toggle:hover {
    transform: scale(1.1);
}

.shopify-buy__cart-toggle__count {
    font-family: "ringold-sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #F3F4F6;
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    align-self: flex-end;
}

.shopify-buy__cart-toggle__title{
    font-family: "ringold-sans", sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: #F3F4F6;
    text-transform: uppercase;
}