@media (max-width: 768px) {
  .store-section {
    padding: 50px 5vw;
  }

  .store-heading {
    font-size: 42px;
    margin-bottom: clamp(1px, 9vw, 40px);
    text-align: center;
  }

  .store-grid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 5vw;
    padding: 0;
  }

  .merch-block {
    max-width: 200px;
    border: 2px solid #0B1215;
  }

  .merch-block:hover .default-image {
    opacity: 1;
  }

  .merch-block:hover .hover-image {
    opacity: 0;
  }

  .merch-block .default-image {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }

  .merch-block .hover-image {
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
  }

  .merch-block.scrolled .default-image {
      opacity: 0;
  }

  .merch-block.scrolled .hover-image {
      opacity: 1;
  }

  .merch-block-details-container {
    border-top: 2px solid #0B1215;
  }

  .merch-block-names-container {
    padding: 2px 4px 0px 4px;
    border-right: 2px solid #0B1215;
  }
  
  .merch-block-artist-name {
    font-size: clamp(14px, 1.5vw, 15px);
    margin: 0 0 1px 0;
  }
  
  .merch-block-product-name {
    font-size: clamp(8px, 1vw, 10px);
    margin: 0;
  }

  .merch-block-price {
    font-size: clamp(20px, 3vw, 30px);
  }
}