/* Store Section */
.store-section {
  width: 100vw;
  background-color: #F3F4F6;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  padding: 40px 5vw;
}

.store-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.store-heading {
  font-family: "ringold-sans", sans-serif;
  font-size: 128px;
  font-weight: 400;
  color: #0B1215;
  text-align: center;
  transition: font-size 0.3s ease;
  padding: 0;
  margin-bottom: 40px;
  text-align: left;
  width: 100%;
}

.store-grid {
  display: grid;
  gap: 2.5vw;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(425px, 1fr));
  justify-content: center;
}

.merch-block {
  width: 100%;
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  border: clamp(4px, 0.5vw + 4px, 5px) solid #0B1215;
  font-size: 175%;
  transition: transform 0.3s ease;
}

.merch-block:hover {
  transform: scale(1.05);
}

.merch-block-image-container {
  flex: 1;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.merch-block-product-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.merch-block-details-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 20%;
  border-top: clamp(4px, 0.5vw + 4px, 5px) solid #0B1215;
}

.merch-block-names-container {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 1vw;
  border-right: clamp(4px, 0.5vw + 4px, 5px) solid #0B1215;
  text-align: left;
}

.merch-block-artist-name {
  font-family: "coolvetica", sans-serif;
  font-weight: bold;
  font-size: 1em;
  color: #0B1215;
  margin: 0 0 0.2em;
}

.merch-block-product-name {
  font-family: "articulat-cf", sans-serif;
  font-weight: 500;
  font-size: 0.7em;
  color: #0B1215;
  margin: 0;
}

.merch-block-price-container {
  flex: 1;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-align: center; /* Ensure the text is centered */
}

.merch-block-price {
  font-family: "ringold-sans", sans-serif;
  font-weight: 400;
  font-size: 1.5em; /* Scales with the parent merch block */
  color: #0B1215;
  margin: 0; /* No margin ensures perfect centering */
  text-align: center;
}

/* Laptop Media Query */
@media (max-width: 1280px) {  
  .store-section {
    padding: 40px 6vw;
  }

  .store-heading {
    font-size: 100px;
    margin-bottom: 40px;
  }

  .store-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 3vw;
  }

  .merch-block {
    font-size: 125%;
    border: clamp(3px, 0.5vw + 3px, 4px) solid #0B1215;
  }

  .merch-block-details-container {
    border-top: clamp(3px, 0.5vw + 3px, 4px) solid #0B1215;
  }

  .merch-block-names-container {
    padding: 1.5vw;
    border-right: clamp(3px, 0.5vw + 3px, 4px) solid #0B1215;
  }

  .merch-block-artist-name {
    margin: 0 0 0.4em;
  }
}

/* Mobile Media Query */
@media (max-width: 768px) {
  .store-section {
    padding: clamp(1px, 9vw, 40px) clamp(1px, 13vw, 45px);
  }

  .store-heading {
    font-size: 60px;
    margin-bottom: clamp(1px, 9vw, 40px);
  }

  .store-grid {
    grid-template-columns: repeat(auto-fit, minmax(235px, 1fr));
    gap: 9vw;
    gap: clamp(1px, 9vw, 30px);
  }

  .merch-block {
    font-size: clamp(15px, 125%, 16px);
    border: 3px solid #0B1215;
  }

  .merch-block-details-container {
    border-top: 3px solid #0B1215;
  }

  .merch-block-names-container {
    padding: 1.5vw;
    border-right: 3px solid #0B1215;
  }

  .merch-block-artist-name {
    margin: 0 0 0.45em;
  }
}

@media (max-width: 589px) {
  .merch-block {
    font-size: clamp(15px, 150%, 20px);
  }

  .merch-block-artist-name {
    margin: 0 0 0.4em;
  }
}