@media (max-width: 768px) {
    .artist-section {
        padding: 30px 30px 0;
        height: auto;
    }
    
    .artist-name {
        font-size: 48px;
        margin: 0 0 5px 0;
    }

    .artist-location {
        font-size: 18px;
        line-height: 1;
        margin: 0 0 20px 0;
    }

    .artist-bar {
        align-items: flex-start;
        flex-direction: column;
        gap: 40px;
        margin: 20px 0 0 0;
        align-items: stretch;
    }

    .bandcamp-player {
        width: 100%;
    }

    .artist-social-icons {
        gap: 30px;
        margin: 0;
    }

    .artist-social-icons a img {
        width: 40px;
        height: 40px;
    }

    .description-section {
        font-size: 18px;
        line-height: 1.8;
        margin: 30px 0 20px 0;
    }

    .related-merch-section {
        padding: 20px 20px 60px;
    }

    .related-merch-content {
        position: relative;
        max-width: 95%;
        margin: 0 auto;
    }

    .store-section {
        padding: 0 8vw;
        margin-bottom: 20px;
    }
  
    .store-heading {
        font-size: 42px;
        align-self: center;
    }
  
    .store-grid {
        grid-template-columns: repeat(auto-fit, minmax(235px, 1fr));
        gap: clamp(1px, 9vw, 30px);
        padding: 0 6vw;
    }
  
    .merch-block:hover .default-image {
        opacity: 1;
    }
  
    .merch-block:hover .hover-image {
        opacity: 0;
    }
  
    .merch-block .default-image {
        opacity: 1;
        transition: opacity 0.3s ease-in-out;
    }
  
    .merch-block .hover-image {
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }
  
    .merch-block.scrolled .default-image {
        opacity: 0;
    }
  
    .merch-block.scrolled .hover-image {
        opacity: 1;
    }
  
    .merch-block-names-container {
      padding: 4px;
    }
    
    .merch-block-artist-name {
      font-size: 18px;
      margin-bottom: 4px;
    }
    
    .merch-block-product-name {
      font-size: 11px;
    }
  
    .merch-block-price {
      font-size: 30px;
    }
}