.artist-section {
  background-color: #0b1215;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 0px;
  margin: 0 auto;
  padding: 60px 20vw;
  align-items: center;
  transition: font-size 0.3s ease;
}

.artist-heading {
  font-family: "ringold-sans", sans-serif;
  font-size: 128px;
  font-weight: 400;
  color: #F3F4F6;
  margin: 0 0 45px 0;
  padding: 0;
  align-self: flex-start;
  transition: font-size 0.3s ease;
}

.artist-name {
  font-family: "ringold-sans", sans-serif;
  font-size: 128px;
  font-weight: 400;
  line-height: 0.8;
  transition: font-size 0.3s ease;
}

.artist-location {
  Font-family: "coolvetica", sans-serif;
  font-size: 32px;
  font-style: italic;
  font-weight: 400;
  transition: font-size 0.3s ease;
}

.artist-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  transition: font-size 0.3s ease;
}

.artist-image-carousel {
  height: 620px;
  position: relative;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  transition: transform 0.4s ease-in-out;
  height: 100%;
}

.carousel-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  height: 100%;
}

.artist-image {
  height: auto;
  width: auto;
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  display: block;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  background: rgba(0, 0, 0, 0.4);
  color: #F3F4F6;
  border: none;
  cursor: pointer;
  padding: 8px;
  z-index: 2;
  transition: font-size 0.3s ease;
}

.carousel-button.left {
  left: 10px;
}

.carousel-button.right {
  right: 10px;
}

.artist-interactables {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #F3F4F6;
}

.bandcamp-player iframe {
  border: 0;
  width: 400px;
  height: 472px;
}

.artist-contact {
  font-family: "articulat-cf", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
  color: #F3F4F6 !important;
  text-decoration: none !important;
  -webkit-text-fill-color: #F3F4F6 !important;
  transition: font-size 0.3s ease;
}

.artist-socials {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 15%;
}

.artist-socials a img {
  width: 40px;
  height: 40px;
  transition: transform 0.2s ease;
}

.artist-socials a:hover img {
  transform: scale(1.2); 
}

/* Description Section */
.description-section {
  background-color: #0B1215;
  color: #f3f4f6;
  font-family: "articulat-cf", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 28px;
  margin: 60px 0 0 0;
  text-align: left;
  height: auto;
  line-height: 1.5;
  transition: font-size 0.3s ease;
}

.description-section p {
  max-width: 1600px;
  transition: font-size 0.3s ease;
}

/* Video Section */
.video-section {
  padding: 0 20vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: font-size 0.3s ease;
  margin: 0 0 200px;
}

.video-heading {
  font-family: "ringold-sans", sans-serif;
  font-size: 128px;
  font-weight: 400;
  color: #F3F4F6;
  margin-bottom: 60px;
  text-align: left;
}

.video-container {
  display: flex;
  flex-direction: row;
  gap: 40px;
  width: 100%;
  justify-content: center;
}


/* Related Merch Section */
.related-merch-section {
  background-color: #0B1215;
  overflow: hidden;
  padding: 0 100px 200px;
}

.related-merch-content {
  position: relative;
  max-width: 95%;
  margin: 0 auto;
}

.rainbow-container-top img,
.rainbow-container-bottom img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0;
}

.store-section {
  width: 100%;
  background-color: #0B1215;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 3vw;
  position: relative;
  gap: 10px;
  margin-bottom: 60px;
}

.store-heading {
  font-family: "ringold-sans", sans-serif;
  font-size: 48px;
  font-weight: 400;
  color: #F3F4F6;
  margin: 0;
  align-self: flex-start;
  transition: font-size 0.3s ease;
}

.store-grid {
  display: grid;
  gap: 1.5vw;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
}

.merch-link {
  display: block;
}

.merch-link:hover {
  cursor: pointer;
}

.merch-block {
  background-color: #F3F4F6; 
  width: 100%;
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 133%;
  transition: transform 0.3s ease;
  border: 4px solid #0B1215;
  transition: transform 0.3s ease;
  text-transform: uppercase;
  max-width: 500px;
  margin: auto;
}

.merch-block:hover {
  transform: scale(1.05);
}

.merch-block-image-container {
  flex: 1;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.merch-block-product-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.35s ease-in-out;
}

.default-image {
  opacity: 1;
}

.hover-image {
  opacity: 0;
}

.merch-block:hover .default-image {
  opacity: 0;
}

.merch-block:hover .hover-image {
  opacity: 1;
}

.merch-block-details-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 20%;
  border-top: 4px solid #0B1215;
  transition: font-size 0.3s ease;
}

.merch-block-names-container {
  flex: 3;
  display: flex;
  gap: 0;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 8px;
  border-right: 4px solid #0B1215;
  position: relative;
  overflow: hidden;
}

.merch-block-artist-name {
  font-family: "coolvetica", sans-serif;
  font-weight: bold;
  font-size: 26px;
  color: #0B1215;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.merch-block-product-name {
  font-family: "articulat-cf", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #0B1215;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.merch-block-price-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.merch-block-price {
  font-family: "ringold-sans", sans-serif;
  font-weight: 400;
  font-size: 40px;
  color: #0B1215;
}

@media (max-width: 1280px) {

  .artist-section {
    padding: 20px 15vw;
  }

  .artist-heading {
    align-self: center;
    margin: 0 0 30px;
    text-align: center; 
  }

  .artist-name {
    font-size: 100px;
    align-self: center;
  }

  .artist-location{
    font-size: 24px;
    align-self: center;
  }

  .artist-content {
    flex-direction: column;
    margin: 0;
  }

  .artist-image-carousel{
    position: relative;
    overflow: hidden;
    max-height: 40vh;
  }

  .carousel-button {
    font-size: 14px;
    padding: 7px;
}

  .artist-interactables {
    align-self: center;
    flex-direction: column;
    text-align: center;
  }

  .bandcamp-player {
    order: 3;
  }

  .artist-contact {
    order: 1;
    font-size: 20px;
  }

  .artist-socials {
    order: 2;
    align-self: center;
    justify-content: center;
  }

  .artist-socials a img {
    width: 30px;
    height: 30px;
  }

  .description-section {
      font-size: 24px;
      margin: 40px 0 0;
      align-self: center;
    }

  .video-heading {
    font-size: 100px;
    text-align: center;
    align-self: center;
  }

}

@media (max-width: 768px) {

  .artist-section {
    padding: 20px 8vw;
    gap: 0;
  }

  .artist-heading {
    align-self: center;
    margin: 0;
    text-align: center;
    line-height: 1;
    margin: 0 0 40px;
  }

  .artist-name {
    font-size: 42px;
    align-self: center;
    line-height: 1.5;
  }

  .artist-location{
    font-size: 14px;
    align-self: center;
    line-height: 1;
  }

  .artist-content {
    flex-direction: column;
    margin: 0;
    gap: 40px;
  }
  .artist-image-carousel{
    position: relative;
    overflow: hidden;
    max-height: 40vh; /* or a custom limit */
  }

  .carousel-track {
    display: flex;
    transition: transform 0.4s ease-in-out;
    height: 100%;
  }

  .carousel-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    height: 100%;
  }

  .artist-image {
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    display: block;
  }

  .carousel-button {
    font-size: 10px;
    padding: 7px;
  }

  .artist-interactables {
    align-self: center;
    flex-direction: column;
    text-align: center;
    margin: 0;
    gap: 20px;
  }

  .bandcamp-player {
    order: 3;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }

  .bandcamp-player iframe {
    border: 0;
    width: 80vw;
    height: 300px;
  }

  .artist-contact {
    order: 1;
    font-size: 14px;
    margin: 0;
    text-decoration: none;
    color: #F3F4F6 !important;
    text-decoration: none !important;
  }

  .artist-socials {
    order: 2;
    align-self: center;
    justify-content: center;
  }

  .artist-socials a img {
    width: 30px;
    height: 30px;
  }

  .description-section {
    font-size: 17px;
    margin: 40px 0 0;
    align-self: center;
    text-align: center;
  }

  .video-section {
    margin: 0 0 60px;
    padding: 0 8vw;
  }

  .video-heading {
    font-size: 52px;
    text-align: center;
    align-self: center;
    margin: 0 0 20px;
  }

  .video-container {
  flex-wrap: wrap;
}
}