.product-section {
    background-color: #f3f4f6;
    width: 100vw;
    height: auto;
    overflow: hidden;
    padding: 60px 60px 40px;
  }
  
.product-content-container {
    display: flex;
    flex-direction: row;
    gap: clamp(0px, 3vw, 300px);
    width: 100%;
    height: 100%;
    justify-content: center;
    margin: 0;
    padding: 0;
    align-items: center;
}

.product-image {
    width: clamp(0px, 40vw, 650px);
    width: min(40vw, 650px);
    aspect-ratio: 1;
    border: solid 4px #0B1215;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    cursor: zoom-in;
}

.product-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.2s ease-out;
}

.product-details-container {
    display: flex;
    flex-direction: column;
    gap: clamp(4px, 0.6vw, 40px);
    height: auto;
    margin: 0;
    padding: 0;
    line-height: 1;
}

.product-title {
    font-family: "ringold-sans", sans-serif;
    font-weight: 400;
    font-size: 80px;
    color: #0B1215;
    margin: 0;
    padding: 0;
    line-height: 0.9;
    transition: font-size 0.3s ease;
    text-transform: uppercase;
}

.product-artist {
    font-family: "coolvetica", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 36px;
    color: #0B1215;
    margin: 0;
    padding: 0;
    line-height: 0.5;
    transition: font-size 0.3s ease;
}

.vertical-whitespace {
    display: block;
    height: 9px;
    width: 100%;
}

.release-date {
    font-family: "articulat-cf", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    color: #0B1215;
    margin: 0;
    padding: 0;
    transition: font-size 0.3s ease;
}

.separator {
    border-top: 3px solid #0B1215;
    margin: 0;
    padding: 0;
}

.price-and-button {
    display: grid;
    grid-template-columns: 1fr auto auto 1fr;
    align-items: center;
    width: 100%;
}

.product-price {
    font-family: "coolvetica", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 54px;
    color: #0B1215;
    margin: 0;
    padding: 0;
    line-height: 1;
    transition: font-size 0.3s ease;
    justify-self: start;
}

.product-buy-button {
    margin-bottom: 20px;
    justify-self: center;
}

.track-list {
    margin: 0;
    padding: 0;
    transition: font-size 0.3s ease;
}

.track-list h3 {
    font-family: "coolvetica", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 36px;
    color: #0B1215;
    margin: 0;
    padding: 0;
    transition: font-size 0.3s ease;
}

.track-list ol {
    font-family: "articulat-cf", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    color: #0B1215;
    line-height: 1.3;
    list-style-position: inside;
    margin: 0;
    padding: 0;
    transition: font-size 0.3s ease;
}

.pressing-info h3 {
    font-family: "coolvetica", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 24px;
    color: #0B1215;
    margin: 0;
    padding: 0;
    transition: font-size 0.3s ease;
}

.pressing-info p {
    font-family: "articulat-cf", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 1.8;
    color: #0B1215;
    margin: 0;
    padding: 0;
    transition: font-size 0.3s ease;
}

.wide-separator {
    width: 100%;
    margin-top: 20px;
}

.description-section {
    background-color: #0B1215;
    color: #f3f4f6;
    font-family: "articulat-cf", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 28px;
    padding: 50px;
    margin: 0;
    text-align: center;
    height: auto;
    line-height: 1.5;
    transition: font-size 0.3s ease;
}

.description-section p {
    max-width: 1400px;
    margin: auto;
}

.related-merch-section {
    background-color: #0B1215;
    overflow: hidden;
    padding: 0 100px 200px;
}

.related-merch-content {
    position: relative;
    max-width: 95%;
    margin: 0 auto;
}

.rainbow-container-top img,
.rainbow-container-bottom img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
}

.store-section {
    width: 100%;
    background-color: #0B1215;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 3vw;
    position: relative;
    gap: 10px;
    margin-bottom: 60px;
}

.store-heading {
    font-family: "ringold-sans", sans-serif;
    font-size: 48px;
    font-weight: 400;
    color: #F3F4F6;
    margin: 0;
    align-self: flex-start;
    transition: font-size 0.3s ease;
}

.store-grid {
    display: grid;
    gap: 1.5vw;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    padding: 0 4vw;
}

.merch-link {
    display: block;
}

.merch-link:hover {
    cursor: pointer;
}

.merch-block {
    background-color: #F3F4F6; 
    width: 100%;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 133%;
    transition: transform 0.3s ease;
    border: 4px solid #0B1215;
    transition: transform 0.3s ease;
    text-transform: uppercase;
    max-width: 500px;
    margin: auto;
}

.merch-block:hover {
    transform: scale(1.05);
}

.merch-block:hover .merch-block-details-container{
  transform: scale(1.001);
}

.merch-block:hover .merch-block-names-container{
  transform: scale(1.005);
}

.merch-block-image-container {
    flex: 1;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.merch-block-product-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3s ease-in-out;
}

.default-image {
    opacity: 1;
}

.hover-image {
    opacity: 0;
}

.merch-block:hover .default-image {
    opacity: 0;
}

.merch-block:hover .hover-image {
    opacity: 1;
}

.merch-block-details-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 20%;
    border-top: 4px solid #0B1215;
    transition: font-size 0.3s ease;
}

.merch-block-names-container {
    flex: 3;
    display: flex;
    gap: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 8px;
    border-right: 4px solid #0B1215;
    position: relative;
    overflow: hidden;
}

.merch-block-artist-name {
    font-family: "coolvetica", sans-serif;
    font-weight: bold;
    font-size: 26px;
    color: #0B1215;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.merch-block-product-name {
    font-family: "articulat-cf", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #0B1215;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.merch-block-price-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.merch-block-price {
    font-family: "ringold-sans", sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: #0B1215;
}
