@media (max-width: 1280px) {
  .product-section {
    padding: 60px 60px 40px;
    height: auto;
  }

  .product-content-container {
    gap: clamp(10px, 3vw, 300px);
    flex-direction: column;
  }
  
  .product-image {
    width: clamp(20px, 45vw, 800px);
    height: clamp(20px, 45vw, 800px);
  }
  
  .product-title {
    font-size: 66px;
  }
  
  .product-artist {
    font-size: 32px;
  }
  
  .release-date {
    font-size: 16px;
    margin-top: 2px;
  }

  .product-dropdown {
    padding: 14px 44px 9px 16px;
    font-size: 16px;
    border: 3px solid #0B1215;
    margin-top: 15px;
}

  .price-and-button {

  }

  .product-price {
      font-size: 48px;
      grid-column: 1;
  }

  .product-buy-button {
      justify-self: end;
      grid-column: 3;
  }
  
  .track-list h3 {
    font-size: 32px;
  }
  
  .track-list ol {
    font-size: 17px;
  }
  
  .pressing-info h3 {
    font-size: 20px;
    }
    
  .pressing-info p {
    font-size: 14px;
  }

  .wide-separator {
    display: none;
  }

  .description-section {
    font-size: 24px;
    line-height: 1.5;
  }

  .related-merch-section {
    padding: 20px 20px 60px 20px;
  }

  .store-section {
    padding: 0 2vw;
    margin-bottom: 20px;
  }

  .store-heading {
    font-size: 34px;
  }

  .store-grid {
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    gap: 2.5vw;
    padding: 0;
  }

  .merch-block {
    border: 3px solid #0B1215;
  }

  .merch-block-details-container {
    border-top: 3px solid #0B1215;
  }

  .merch-block-names-container {
    border-right: 3px solid #0B1215;
    padding: 2px 4px 0 4px;
  }
  
  .merch-block-artist-name {
    font-size: clamp(17px, 1vw, 18px);
    margin-bottom: 2px;
  }
  
  .merch-block-product-name {
    font-size: clamp(13px, 0.8vw, 13px);
  }

  .merch-block-price {
    font-size: 130%;
  }  
}