/* General Styling */
:root {
  --header-height: 105px;
  --rainbow-height: 5px;
}

/* Header */
.header {
  background-color: #0B1215;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: var(--header-height);
  transition: transform 0.3s ease, height 0.3s ease;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.header .logo img {
  margin-top: var(--rainbow-height);
  margin-left: 20px;
  width: 68px;
  height: 56px;
  transition: width 0.3s ease, height 0.3s ease;
}

.nav {
  margin-top: var(--rainbow-height);
  gap: 40px;
  order: 3;
  display: flex;
  align-items: center;
}

.nav a {
  font-family: "ringold-sans", sans-serif;
  font-weight: 400;
  font-size: 40px;
  color: #F3F4F6;
  transition: font-size 0.3s ease, transform 0.3s ease;
}

.nav a:hover {
  transform: scale(1.1);
}

.nav .cart-container {
  display: flex;
  align-items: center;
  align-self: center;
  position: static;
  padding: 0;
  margin: 0 33px 0 -7px;
  transform-origin: center center;
}

.shopify-buy__cart-toggle {
  cursor: pointer;
  gap: 0;
  align-self: center;
  transition: transform 0.3s ease;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 90px;
  min-height: 60px;
  margin: 0;
  padding: 15px 15px 15px 0;
  transform-origin: center center;
}

.shopify-buy__cart-toggle__count {
  font-family: sans-serif;
  font-weight: 700;
  color: #F3F4F6;
  background-color: red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 1px;
  right: 0px;
  width: 22px;
  height: 22px;
  font-size: 16px;
  transform-origin: center center;
  will-change: transform, top, right;
  transition: transform 0.3s ease;
  z-index: 1;
}

.shopify-buy__cart-toggle__title{
  font-family: "ringold-sans", sans-serif;
  font-weight: 400;
  font-size: 41px !important;
  color: #F3F4F6;
  transform-origin: center center;
  transition: font-size 0.3s ease, transform 0.3s ease;
  margin: 0;
  padding: 0;
}

.shopify-buy__cart-toggle:hover .shopify-buy__cart-toggle__count,
.shopify-buy__cart-toggle:hover .shopify-buy__cart-toggle__title {
  transform: scale(1.1);
  transform-origin: center center;
}

.hamburger-icon {
  margin-top: var(--rainbow-height);
  margin-right: 10px;
  visibility: hidden;
  cursor: pointer;
}

.rainbow-strip {
  position: fixed;
  top: var(--header-height);
  left: 0;
  width: 100%;
  height: var(--rainbow-height);
  background: linear-gradient(
    to right,
    #FF0000 0%,
    #FFB300 24%,
    #FFFF00 41%,
    #00FF00 51.5%,
    #00FFF7 63%,
    #0000FF 74%,
    #8E00FF 100%
  );
  z-index: 500;
  transition: top 0.3s ease, height 0.3s ease;
}

.header-spacer {
  background-color: black;
  height: calc(var(--header-height) + var(--rainbow-height)) !important;
  width: 100%;
  transition: height 0.3s ease;
}

/* Laptop Media Query */
@media (max-width: 1280px) {
  :root {
    --header-height: 85px;
    --rainbow-height: 4px;
  }

  .header .logo img {
    width: 60px;
    height: 50px;
  }

  .nav {
    gap: 30px;
  }

  .nav a {
    font-size: 30px;
  }

  .nav .cart-container {
    margin: 0 20px 0 -14px;
  }
  
  .shopify-buy__cart-toggle {
    min-width: 90px;
    min-height: 60px;
    padding: 15px 15px 15px 0;
  }
  
  .shopify-buy__cart-toggle__count {
    top: 2px;
    right: 6px;
    width: 20px;
    height: 20px;
    font-size: 14px;
  }
  
  .shopify-buy__cart-toggle__title{
    font-size: 31px !important;
  }
}

/* Mobile Media Query */
@media (max-width: 768px) {
  :root {
    --header-height: 75px;
    --rainbow-height: 3px;
  }

  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .header[data-expanded="true"] {
    --header-height: 220px;
    flex-direction: column;
    align-items: flex-start;
    transition: height 0.3s ease;
  }

  .header .logo img {
    position: absolute;
    top: 10px;
    width: 50px;
    height: 40px;
  }

  .nav {
    opacity: 0;
    visibility: hidden;
  }

  .header[data-expanded="true"] .nav {
    visibility: visible;
    opacity: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    transition: opacity 0.3s ease;
  }

  .nav.active {
    display: flex;
  }

  .nav a {
    font-size: 20px;
    text-align: center;
  }

  .nav .cart-container {
    margin: -22px 0px -11.5px 13.5px;
  }
  
  .shopify-buy__cart-toggle {
    min-width: 90px;
    min-height: 60px;
    padding: 15px 15px 15px 0;
  }
  
  .shopify-buy__cart-toggle__count {
    top: 8px;
    right: 14px;
    width: 15px;
    height: 15px;
    font-size: 12px;
  }
  
  .shopify-buy__cart-toggle__title{
    font-size: 21px !important;
  }

  .hamburger-icon {
    visibility: visible;
    position: absolute;
    top: 25px;
    right: 20px;
    cursor: pointer;
  }

  .hamburger-icon img {
    width: 30px;
    height: 20px;
  }

  .hamburger-icon button {
    all: unset;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 20px;
  }

  .header[data-expanded="true"] ~ .rainbow-strip {
    top: 220px;
  }

  .header[data-expanded="true"] ~ .header-spacer {
    height: 223px !important;
  }
}
