@media (max-width: 1280px) {  
  .roster-section {
    padding: 60px 6vw;
  }

  .roster-heading {
    font-size: 100px;
    margin-bottom: 40px;
  }

  .roster-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 3vw;
  }

  .artist-block {
    border: 3px solid #0B1215;
  }

  .artist-block-names-container {
    padding: 6px;
    border-right: 3px solid #0B1215;
  }
  
  .artist-block-artist-name {
    font-size: 18px;
    margin-bottom: 4px;
  }
  
  .artist-block-product-name {
    font-size: 12px;
  }

  .artist-block-price {
    font-size: 30px;
  }
}