.roster-section {
  width: 100vw;
  background-color: #0B1215;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  padding: 60px 6vw;
}

.roster-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.roster-heading {
  font-family: "ringold-sans", sans-serif;
  font-size: 128px;
  font-weight: 400;
  color: #F3F4F6;
  text-align: center;
  transition: font-size 0.3s ease;
  padding: 0;
  margin-bottom: 40px;
  text-align: left;
  width: 100%;
}

.roster-grid {
  display: grid;
  gap: 2.5vw;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(425px, 1fr));
  justify-content: center;
}

.artist-link {
  display: block;
}

.artist-link:hover {
  cursor: pointer;
}

.artist-block {
  width: 100%;
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  border: 4px solid #0B1215;
  transition: transform 0.3s ease;
  text-transform: uppercase;
  overflow: hidden;
}

.artist-block:hover {
  transform: scale(1.05);
}

.artist-block-image-container {
  flex: 1;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.artist-block-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease-in-out;
}

.artist-block-details-container {
  background-color: #F3F4F6;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 20%;
  transition: font-size 0.3s ease;
}

.artist-block-name-container {
  flex: 3;
  display: flex;
  gap: 0;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 8px;
  border-top: 4px solid #0B1215;
  position: relative;
  overflow: hidden;
}

.artist-block-artist-name {
  font-family: "coolvetica", sans-serif;
  font-weight: bold;
  font-size: 26px;
  color: #0B1215;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Laptop Media Query */
@media (max-width: 1280px) {  
  .roster-section {
    padding: 60px 6vw;
  }

  .roster-heading {
    font-size: 100px;
    margin-bottom: 40px;
  }

  .roster-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 3vw;
  }

  .artist-block {
    border: 3px solid #0B1215;
  }

  .artist-block-details-container {
    border-top: 3px solid #0B1215;
  }

  .artist-block-names-container {
    padding: 6px;
    border-right: 3px solid #0B1215;
  }
  
  .artist-block-artist-name {
    font-size: 18px;
    margin-bottom: 4px;
  }
  
  .artist-block-product-name {
    font-size: 12px;
  }

  .artist-block-price {
    font-size: 30px;
  }
}

/* Mobile Media Query */
@media (max-width: 768px) {
  .roster-section {
    padding: 60px clamp(1px, 13vw, 45px);
  }

  .roster-heading {
    font-size: 60px;
    margin-bottom: clamp(1px, 9vw, 40px);
    text-align: center;
  }

  .roster-grid {
    grid-template-columns: repeat(auto-fit, minmax(235px, 1fr));
    gap: 9vw;
    gap: clamp(1px, 9vw, 30px);
  }

  .artist-block:hover .default-image {
    opacity: 1;
  }

  .artist-block:hover .hover-image {
    opacity: 0;
  }

  .artist-block .default-image {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }

  .artist-block .hover-image {
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
  }

  .artist-block.scrolled .default-image {
      opacity: 0;
  }

  .artist-block.scrolled .hover-image {
      opacity: 1;
  }

  .artist-block-names-container {
    padding: 4px;
  }
  
  .artist-block-artist-name {
    font-size: 18px;
    margin-bottom: 4px;
  }
  
  .artist-block-product-name {
    font-size: 10px;
  }

  .artist-block-price {
    font-size: 26px;
  }
}